<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" id="msg{{forloop.counter0}}">
                        <button data-dismiss="alert" class="close">
                        &times;
                        </button>
                        <i class="fa fa-check-circle"></i>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
    <script type="text/javascript">
    document.getElementById('msg0').addEventListener('click',function(e){
        document.getElementById('msg0').style.display = 'none';
    });
    </script>
</html>
